# Python
__pycache__/
*.pyc
*.pyo

# Virtual environments
venv/
env/
.venv/

# ML models
models/
*.safetensors
*.pt
*.pth
*.bin

# HuggingFace / cache
.cache/
models/

# OS
.DS_Store
Thumbs.db

# Environment variables
config.bat
node_modules
